Localhost/App_WebReferences/ServiceReferenceForRIS/TextReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTextReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HospitalId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fromdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTextReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTextReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getTextReportSoapIn">
    <wsdl:part name="parameters" element="tns:getTextReport" />
  </wsdl:message>
  <wsdl:message name="getTextReportSoapOut">
    <wsdl:part name="parameters" element="tns:getTextReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTextReportHttpGetIn">
    <wsdl:part name="HospitalId" type="s:string" />
    <wsdl:part name="Fromdate" type="s:string" />
    <wsdl:part name="ToDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTextReportHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTextReportHttpPostIn">
    <wsdl:part name="HospitalId" type="s:string" />
    <wsdl:part name="Fromdate" type="s:string" />
    <wsdl:part name="ToDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTextReportHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TextReportSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <wsdl:input message="tns:getTextReportSoapIn" />
      <wsdl:output message="tns:getTextReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TextReportHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <wsdl:input message="tns:getTextReportHttpGetIn" />
      <wsdl:output message="tns:getTextReportHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TextReportHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <wsdl:input message="tns:getTextReportHttpPostIn" />
      <wsdl:output message="tns:getTextReportHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TextReportSoap" type="tns:TextReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <soap:operation soapAction="http://tempuri.org/getTextReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextReportSoap12" type="tns:TextReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <soap12:operation soapAction="http://tempuri.org/getTextReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextReportHttpGet" type="tns:TextReportHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <http:operation location="/getTextReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextReportHttpPost" type="tns:TextReportHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTextReport">
      <http:operation location="/getTextReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextReport">
    <wsdl:port name="TextReportSoap" binding="tns:TextReportSoap">
      <soap:address location="http://35.154.84.86/Mahajan/Design/lab/services/TextReport.asmx" />
    </wsdl:port>
    <wsdl:port name="TextReportSoap12" binding="tns:TextReportSoap12">
      <soap12:address location="http://35.154.84.86/Mahajan/Design/lab/services/TextReport.asmx" />
    </wsdl:port>
    <wsdl:port name="TextReportHttpGet" binding="tns:TextReportHttpGet">
      <http:address location="http://35.154.84.86/Mahajan/Design/lab/services/TextReport.asmx" />
    </wsdl:port>
    <wsdl:port name="TextReportHttpPost" binding="tns:TextReportHttpPost">
      <http:address location="http://35.154.84.86/Mahajan/Design/lab/services/TextReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>