Localhost/App_WebReferences/WebReference/LanguageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Language">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetLanguage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageSoapIn">
    <wsdl:part name="parameters" element="tns:Language" />
  </wsdl:message>
  <wsdl:message name="LanguageSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageHttpGetIn">
    <wsdl:part name="sourceText" type="s:string" />
    <wsdl:part name="sourceLanguage" type="s:string" />
    <wsdl:part name="targetLanguage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageHttpPostIn">
    <wsdl:part name="sourceText" type="s:string" />
    <wsdl:part name="sourceLanguage" type="s:string" />
    <wsdl:part name="targetLanguage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LanguageServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Language">
      <wsdl:input message="tns:LanguageSoapIn" />
      <wsdl:output message="tns:LanguageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LanguageServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Language">
      <wsdl:input message="tns:LanguageHttpGetIn" />
      <wsdl:output message="tns:LanguageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LanguageServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Language">
      <wsdl:input message="tns:LanguageHttpPostIn" />
      <wsdl:output message="tns:LanguageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LanguageServiceSoap" type="tns:LanguageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Language">
      <soap:operation soapAction="http://tempuri.org/Language" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LanguageServiceSoap12" type="tns:LanguageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Language">
      <soap12:operation soapAction="http://tempuri.org/Language" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LanguageServiceHttpGet" type="tns:LanguageServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Language">
      <http:operation location="/Language" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LanguageServiceHttpPost" type="tns:LanguageServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Language">
      <http:operation location="/Language" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LanguageService">
    <wsdl:port name="LanguageServiceSoap" binding="tns:LanguageServiceSoap">
      <soap:address location="http://43.242.214.195:999/LanguageService.asmx" />
    </wsdl:port>
    <wsdl:port name="LanguageServiceSoap12" binding="tns:LanguageServiceSoap12">
      <soap12:address location="http://43.242.214.195:999/LanguageService.asmx" />
    </wsdl:port>
    <wsdl:port name="LanguageServiceHttpGet" binding="tns:LanguageServiceHttpGet">
      <http:address location="http://43.242.214.195:999/LanguageService.asmx" />
    </wsdl:port>
    <wsdl:port name="LanguageServiceHttpPost" binding="tns:LanguageServiceHttpPost">
      <http:address location="http://43.242.214.195:999/LanguageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>